* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

canvas {
  border: 1px solid #222;
}
